html {
  background-color: #222;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
  padding: 0;
}

h2 {
  font-size: 120px;
  font-family: 'Megrim', cursive;
  margin-bottom: 100px;
  margin-top: 0;
  text-shadow: gray 5px 5px 5px;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: white;
  font-weight: bolder;
  border-bottom: solid white 2px;
  width: 200px;
  margin: 0 auto;
  margin-top: 80px;
}

input {
  height: 80px;
  width: 300px;
  font-size: 40px;
  margin-top: 130px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
}

button {
  height: 60px;
  width: 200px;
  border-radius: 5px;
  border-style: solid;
  background-color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  margin: 30px 20px;
  -webkit-transition: all 0.7s ease;
}

button:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  text-shadow: #222 5px 5px 5px;

}

li {
  list-style: none;
  font-size: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  display: inline-block;
}

ul {
  list-style: none;
  font-size: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  padding: 0;
  margin-top: 0;
}

span {
  font-size: 45px;
  text-shadow: gray 5px 5px 5px;
}

.city-title {
  font-size: 45px;
  text-shadow: gray 5px 5px 5px;
}
